@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", serif;
    font-optical-sizing: auto;
}

:root {
    --border-radius: 24px;
    --red: #e60023;
    /*--red: #FCC737;*/
    --text-box-radius: 16px;
    --grey: #e2e2e2;
}

.container {
    width: 100%;
    height: 8vh;
    /* background-color: red; */
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: space-around;
    padding: auto;
}

.left {
    width: 60%;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
}

.right {
    width: 40%;
    display: flex;
    justify-content: flex-end;
}

.logo {
    max-width: 30px;
    /* background-color: red; */
    height: 100%;
    display: flex;
    margin-right: 10%;
    align-items: center;
}

.logo__img {
    width: 100%;
    margin-right: 5px;
}

.logo__text {
    color: var(--red);
    font-size: 1.2em;
    font-weight: 700;
}

.nav__item {
    margin: 0px 10px;
    font-weight: 500;
}

.btn {
    padding: 10px 20px;
    border-radius: var(--border-radius);
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 1em;
    transition: 0.25s ease;
}

.btn:active {
    transform: scale(0.9);
}

.btn__red {
    background-color: var(--red);
    color: #fff;
    font-weight: 500;
}

.btn__black {
    background-color: #000;
    color: #fff;
}

.btn__red:hover {
    background-color: #d0001fe2;
}

.btn__grey {
    background-color: var(--grey);
}

.btn__grey:hover {
    background-color: rgb(196, 196, 196);
}

.nav__btn {
    margin-right: 10px;
}

.hero__container {
    width: 100vw;
    height: auto;
    position: relative;
}

.hero__background {
    width: 98%;
    /* overflow: hidden; */
    margin: auto;
    /* position: absolute; */
    top: 0;
    bottom: 0;
    z-index: -100;
}

.hero__img {
    width: 100%;
    height: 85vh;
    background-size: cover;
    margin: auto;
}

.hero__section {
    position: absolute;
    width: 100vw;
    height: 85vh;
    background-color: rgba(0, 0, 0, 0.6);
    top: 0;
    display: flex;
}

.footer__container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
    width: 100%;
}

.footer__el {
    font-weight: 600;
    margin-right: 10px;
    font-size: 12px;
}

.footer__el:hover {
    text-decoration: underline;
}

.hero__left {
    width: 40%;
    display: flex;
    align-items: center;
    padding: 10px 40px;
}

.hero__text {
    max-width: 70%;
    min-width: 60%;
    color: #fff;
    font-size: 4em;
    font-weight: 500;
    margin-left: 15%;
}

.hero__right {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    /* color: red; */
}

.signup__container {
    width: 40%;
    margin-right: 15%;
    height: auto;
    position: relative;
    background-color: #fff;
    padding: 20px;
    border-radius: var(--text-box-radius);


}

.signup__card {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}

.signup__pin__logo {
    width: 50px;
    margin-bottom: 10px;
}

.sign__form__section {
    width: 60%;
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}

.sign__form__section label {
    font-size: 0.8em;
    margin-left: 5px;
    margin-bottom: 5px;

}

.sign__form__section btn {
    margin-top: 10px;
}

.form__field {
    width: 100%;
    padding: 15px 20px;
    border-radius: var(--text-box-radius);
    outline: none;
    margin-bottom: 10px;
    border: 1px solid rgb(182, 182, 182);

}

.form__field:focus {
    outline: 4px solid rgba(0, 132, 255, 0.5);

}

.info {
    font-size: 10px;
    margin: 10px;
    text-align: center;
}

.loading__card {
    width: 100%;
    height: 100%;
    background: rgba(56, 56, 56, 0.35);
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;

}

button:disabled,
button[disabled] {
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
}

.error__section {
    margin: 20px;
    width: 100%;
    /*background: antiquewhite;*/
    color: #e60023;
    text-align: center;
    font-weight: 500;
}

.main__loader {
    width: 100%;
    display: flex;
    justify-content: center;
}

.loader__img {
    width: 70px;
    height: 70px;
    background-size: contain;
    animation: rotate infinite 0.8s linear;

}


@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.bold {
    font-weight: 700;
    cursor: pointer;

}

.red {
    color: #e60023;
}

.underline {
    text-decoration: underline;
}

.main__nav__container {
    max-width: 95%;
    height: 80px;
    /*background: red;*/
    display: flex;
    margin: auto;
}

.main__nav__left {
    width: 15%;
    display: flex;
    /*background: skyblue;*/
    align-items: center;
    justify-content: space-evenly;
    /*margin-left: 10%;*/
}

.main__nav__left img {
    width: 40px;
    height: 40px;
}

.main__nav__middle {
    width: 70%;
    /*background: purple;*/
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 15px;
    font-size: 1.2em;
    position: relative;


}

.input__field {
    width: 100%;
    padding: 20px 25px;
    border-radius: 100px;
    border: none;
    outline: none;
    background: rgba(224, 224, 224, 0.88);
    padding-left: 50px;
    /*transition: .2s ease;*/

}

.input__field:focus {
    outline: 5px solid rgba(0, 132, 255, 0.5);
}

.main__nav__middle svg {
    margin-right: -42px;
    z-index: 1;
    color: rgba(148, 148, 148, 0.88);
}

.main__nav__item {
    text-transform: capitalize;
}

.main__nav__right {
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /*background: yellow;*/
}

.nav__right__el {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav__profile__img {
    width: 50px;
    border-radius: 100%;
    /*transition: 0.2s ease;*/
}

.nav__profile__img:hover {
    filter: brightness(0.9);
    transform: scale(95%);
}

.hero__container {
    width: 100%;
    height: auto;
}

.hero__image__section {
    width: 90%;
    columns: 200px;
    margin: auto;
    margin-top: 1%;

}

.image__list {
    width: 100%;
    margin-bottom: 14px;

}

.image__list img {
    width: 100%;
    border-radius: 10px;
}

.image__list img:hover {
    filter: brightness(0.5);
}

.show__container {
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
}

.show__card {
    width: 50%;
    max-height: 80%;

    /* background: red; */
    display: flex;
    /* border: 1px solid; */
    /* height: max-content; */
    /* height: fit-content; */
    /* align-items: stretch; */
    overflow: hidden;
    /* background-color: antiquewhite; */
    /* max-height: fit-content; */
    box-shadow: 1px 1px 10px rgb(219, 219, 219);
    border-radius: 15px;


}

.show__image {
    width: 50%;
    height: auto;
    /* display: flex; */
    /* contain: layout; */
    /* padding: 20px; */

}

.show__image img {
    width: 100%;

    height: 100%;
    border-radius: 15px 0 0 15px;
    object-fit: contain;

}

.show__info {
    width: 50%;
    /* background-color: yellow; */
    /* height: 10vh; */
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    max-height: 100%;
    padding: 20px;
    /* height:200px; */
    /* justify-content: space-between; */
}

.show__save__section {
    display: flex;
    justify-content: space-between;
}

.show__comments {
    width: 100%;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    max-height: 500px;
    /* height: 70%; */
    /* min-height: 70%; */
    /* max-height:60%; */
    /* overflow-y: scroll; */
    flex-grow: 1;
    /* background: #666666; */
}

.ml-2 {
    margin-left: 2%;
}

.restrict {
    max-height: 100%;
    overflow-y: scroll;
}

.show__add_comment {
    width: 100%;
}

.comment__box {
    width: 70%;
    padding: 15px 20px;
}

.user__info {
    display: flex;
    align-items: center;
    margin-bottom: 4%;
}

.user__info img {
    width: 40px;
    border-radius: 100%;
    margin-right: 10px;
}

.options {
    border-radius: 25px;
    padding: 10px 20px;
    outline: none;
    border: none;
    margin-right: 5px;
}

.options:hover {
    background: var(--grey);
    cursor: pointer;
}

.comment__section {
    display: flex;
}

.comment__section img {

    height: 36px;
    object-fit: contain;
}

.info {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
}

.profile__container {
    width: 80%;
    margin: auto;
    /*background: #999999;*/
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 5%;
}

.profile__section {
    width: 80%;
    /*background: #e1e1e1;*/
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    border-radius: 15px;
    /*box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;*/
}

.profile__img {
    width: 90px;
    border-radius: 100%;
}

.boards__container {
    width: 90%;
    /*background: aliceblue;*/
    display: flex;
    margin: auto;
    flex-wrap: wrap;
    /*justify-content: center;*/
}

.board__card {
    width: 15%;
    /*padding: 20px;*/
    /*background: rosybrown;*/
    margin: 1%;
    border-radius: 15px;
    height: 200px;
    position: relative;
    /*box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;*/
}

.board__img {
    width: 100%;

    min-height: 150px;
    max-height: 150px;
    overflow: hidden;
    display: flex;
}

.board__img img {
    filter: brightness(0.9);
}

.board__cover {
    width: 60%;
    /*background: #732f2f;*/
}

.cover__img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 15px 0 0 15px;
}

.board__right {
    width: 40%;
    min-height: 200px;
    max-height: 200px;
    margin-left: 2px;
    /*background: skyblue;*/
}

.board__right__top {
    width: 100%;
    height: 75px;
    margin-bottom: 2px;
    /*background: #666666;*/
}

.board__right__down {
    width: 100%;
    height: 75px;
    /*background: #ff3030;*/
}

.small__down {
    border-radius: 0px 0px 15px 0px;

}

.small__top {
    border-radius: 0 15px 0 0;
}

.small__img {
    width: 100%;
    object-fit: cover;
    height: 75px;
}

.borad__title {
    padding: 10px;
    font-size: 0.5rem;
}

.board__overlay {
    width: 100%;
    /*background: rgba(30, 30, 30, 0.39);*/
    height: 150px;
    position: absolute;
    z-index: 1;
    top: 0;
    /*background: red;*/
    border-radius: 15px;
    /*visibility: hidden;*/
    display: none;
    transition: background 0.3s ease, z-index 0.3s ease; /* Smooth transitions */
    cursor: pointer;
}

.board__img {
    position: relative;
    z-index: 0;
}

.board__card:hover > .board__overlay {
    background: rgba(44, 44, 44, 0.51);
    /*z-index: 100;*/
    /*visibility: visible;*/
    display: block;
    z-index: 2;

}

.create__heading {
    width: 100%;
    padding: 10px;
    border-top: 2px solid rgba(102, 102, 102, 0.39);
    border-bottom: 2px solid rgba(102, 102, 102, 0.39);
}

.heading__elm {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.create__container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

.create__section {
    width: 60%;
    margin-top: 10%;
    /*background: #ffd4d4;*/
    display: flex;
    padding: 30px;
    border-radius: var(--border-radius);
}

.create__image__upload {
    width: 50%;
    /*background: red;*/
    margin-right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    max-height:5%;
}

.selected__img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.create__image__upload img {
    width: 65%;
    object-fit: cover;
    height: auto;
    border-radius: 15px;
    margin-bottom: 10px;
}

.create__image__section {
    background: rgba(224, 224, 224, 0.73);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: var(--border-radius);
    font-size: 1.2em;
}

.create__image__section svg {
    font-size: 2em;
}

.create__image__upload .image__file__field {
    display: none;
}

.create__info__section {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*background: black;*/

}

label {
    cursor: pointer;
}